.block {
    border: 2px, black, solid;
    margin: 2px;
    width: 100px;
}

.container {
    display: flex;
    flex-direction: row;
    height: 300px;
    justify-content: center;
    border: 2px, rebeccapurple, solid;
    align-items: center;
    gap: 20px;
}
.grow {
    flex-basis: 50px;
    align-self: flex-end;
    order: 1;
}

@media (max-width: 400px) {
    
}